$bg-header: url('../img/backgrounds/bg-header.svg');
$bg-header-mobile: url('../img/backgrounds/bg-header-mobile.jpg');
$bg-header-color: rgb(215, 215, 215);

.header {
  @include bgCenter($bg-header);
  position: relative;
  overflow: hidden;

  @include maxMac {
    background: $bg-header-color;
  }

  @include maxMobile {
    background: none;
    background-position: auto;
    background-size: auto;
  }

  &__logo {
    @include maxMobile {
      display: none;
    }
  }

  &__container {
    @include maxMobile {
      padding: 0;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;

    @include maxMobile {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    gap: 90px;

    @include maxMac {
      gap: 50px;
    }
  }

  &__nav-list-item {
    &:not(:last-of-type):hover {
      text-decoration: underline;
    }
  }

  &__nav-link {
    color: $white;
    font-size: rem(17);
    font-weight: 700;

    &--contact {
      background-color: $white;

      color: $black;
      font-size: rem(15);
      text-transform: uppercase;

      border-radius: 30px;
      padding: 12px 20px;
      transition: background-color $transition;

      &:hover {
        background-color: transparent;
        color: $white;
      }

      @include maxMac {
        background-color: transparent;

        color: $black;
        font-size: rem(17);
        text-transform: none;

        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include maxMac {
      color: $black-1;
    }
  }

  &__navbar-mobile {
    background-color: $black-1;
    display: none;

    @include maxMobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__navbar-mobile-row {
    &--1 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 20px 30px;
    }

    &--2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav-mobile {
    overflow: hidden;
    width: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    &--active {
      display: flex;
      border-top: 1px solid $white;
    }
  }

  &__nav-mobile-list {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__nav-mobile-list-item {
    width: inherit;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all $transition;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-elliptic-top-fwd 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    &:hover {
      background-color: $white;

      a {
        color: $black;
        font-size: rem(18);
      }
    }
  }

  @for $i from 1 through 4 {
    &__nav-mobile-list-item:nth-of-type(#{$i}) {
      animation-delay: 0.1s * $i;
    }
  }

  &__nav-mobile-link {
    color: $white;
    font-size: rem(15);
    font-weight: 600;
    text-align: center;

    @include maxMobile {
      text-transform: uppercase;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;

    @include maxMac {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    &--1 {
      position: relative;

      grid-row: 1;
      grid-column: 1/2;

      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 150px 0 200px 0;

      @include maxMac {
        align-items: center;
      }

      @include maxMobile {
        background: $bg-header-mobile center center / cover;
        height: 80vh;

        filter: grayscale(0.5);
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
      }
    }

    &--2 {
      grid-row: 1;
      grid-column: 2/3;

      display: flex;
      justify-content: center;
      align-items: center;

      @include maxMobile {
        display: none;
      }
    }
  }

  &__info {
    @include maxMobile {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 10px;

      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 10;

      padding: 0 15px 40px 15px;
    }
  }

  &__info-text {
    color: $black;
    font-family: $fontFamilyRaleway;
    font-weight: 700;

    @include maxMobile {
      color: $white;
    }
  }

  &__info-bg-rectangle {
    display: none;
    background: rgba($black, 0.5);

    position: absolute;
    top: 60%;
    left: 0;
    width: 900px;
    height: 900px;
    z-index: 5;
    transform-origin: center;
    transform: rotate(-102deg);

    @include maxMobile {
      display: block;
    }
  }

  &__greeting {
    font-size: rem(40);
    line-height: calc(46 / 40 * 100%);
    margin: 0 0 55px 0;

    @include maxMobile {
      font-size: rem(25);
      margin: 0 0 15px 0;
    }

    @include maxMobileSmall {
      font-size: rem(20);
    }
  }

  &__name {
    font-size: rem(60);
    line-height: 110%;
    margin: 0 0 20px 0;

    @include maxMobile {
      font-size: rem(35);
      margin: 0 0 15px 0;
    }

    @include maxMobileSmall {
      font-size: rem(28);
    }
  }

  &__job {
    color: $gray-1;
    font-size: rem(22);
    font-weight: 800;
    line-height: calc(29 / 25 * 100%);

    margin: 0 0 125px 0;

    @include maxMobile {
      color: $white;
      font-size: rem(12);
      margin: 0;
    }

    @include maxMobileSmall {
      font-size: rem(10);
    }
  }

  &__social-list {
    display: flex;
    gap: 30px;

    @include maxMobile {
      flex-direction: column;
    }
  }

  &__social-list-item {
    width: 60px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(196, 196, 196);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: all $transition;

    &:hover {
      transform: translateY(-5px);
      opacity: 0.7;
    }

    @include maxMobile {
      width: auto;
      height: auto;

      background-color: transparent;
      box-shadow: none;

      &:hover {
        transform: translateY(0px) scale(1.2);
        opacity: 1;
      }
    }
  }

  &__social-link {
    font-size: rem(24);

    @include maxMobile {
      color: $white;
    }
  }

  &__img {
    max-width: 500px;
    height: auto;

    @include maxMac {
      display: none;
    }
  }
}

/* ================= Mobile Menu Toggle ================= */

.icon-menu {
  display: none;

  position: relative;
  width: rem(31);
  height: rem(27);
  cursor: pointer;
  z-index: 5;

  &:hover {
    span,
    &:before,
    &:after {
      background-color: $gray-1;
    }
  }

  span,
  &::before,
  &::after {
    content: '';
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(4);
    background-color: $white;
    border-radius: 5px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50%);
    transform: translateY(-50%);
  }

  &--toggled {
    span {
      width: 0;
    }

    &::before {
      top: calc(50% - rem(2));
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - rem(2));
      transform: rotate(45deg);
    }
  }

  @include maxMobile {
    display: block;
  }
}
