//- Connect mixins
include ../../common/section-title/section-title.pug

section.about(id="about-section")
    div.about__container
      div.about__content
        +section-title("About Me")
        div.about__text 
          | Hey there! I'm Sam Carter, a third-year student in Applied Computer Science at AGH University of Science and Technology in Krakow. I've been diving into Front-End tech for a solid year now, and guess what? It's my jam!

          | My stint with the science club not only sharpened my programming skills but also sparked a passion for design. Fluent in English (spoken and written) and rocking intermediate Spanish, I'm not just about codes and pixels.

          | When I'm not crafting websites, I'm deep into motorsport—from thrilling rallies to the pinnacle of racing, Formula 1.
        div.about__explore Explore
      include ../../common/separator/separator.pug 
      div.about__services
        div.about__service
            img.about__service-img(src="img/about/design.png", alt="Design")
            h3.about__service-title DESIGN
            div.about__service-text I craft designs that speak your language, tailoring sites to your needs or starting from scratch—I've got you covered.
        div.about__service
            img.about__service-img(src="img/about/dev.png", alt="Development")
            h3.about__service-title DEVELOPMENT
            div.about__service-text Turning visions into reality is my thing. Whether it's bringing your ideas to life or offering expertise from ground zero, count me in.
        div.about__service
            img.about__service-img(src="img/about/maint.png", alt="Maintenance")
            h3.about__service-title MAINTENANCE
            div.about__service-text Keeping things shipshape. From periodic check-ins to full-on support, I'm here to ensure your digital space stays top-notch.
      include ../../common/separator/separator.pug
