.skills {
  margin: 0 0 120px 0;

  @include maxMobile {
    margin: 0 0 100px 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    color: $black;

    @include maxMobile {
      max-width: auto;
      gap: 50px;
    }
  }

  &__skills-row {
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    gap: 75px;

    @include maxMobile {
      align-self: center;
      align-items: center;

      &--learning,
      &--other {
        display: none;
      }
    }
  }

  &__skills-title {
    font-size: rem(30);
    font-weight: 700;
    line-height: math.div(36, 30);
    letter-spacing: 2px;
  }

  &__skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 75px;
    row-gap: 65px;

    @include maxMobile {
      justify-content: center;
      gap: 50px;
    }
  }

  &__skill {
    min-height: 180px;
    min-width: 166px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include maxMobile {
      min-height: 140px;
      min-width: 120px;
    }
  }

  &__skill-img {
    @include maxMobile {
      height: 75px;
      width: auto;
    }
  }

  &__skill-name {
    font-size: rem(24);
    font-weight: 400;
    line-height: math.div(29, 24);
    letter-spacing: 1.5px;
    text-transform: uppercase;

    @include maxMobile {
      font-size: rem(18);
    }
  }
}
