$bg-color-footer: rgb(26, 26, 26);

.footer {
  background: $bg-color-footer;
  padding: 70px 0;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 44px;
  }

  &__scroll-up {
    cursor: pointer;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    color: $white;

    transition: opacity $transition;

    &:hover {
      opacity: 0.75;
    }
  }

  &__scroll-up-icon {
    font-size: rem(17);
    transform: rotate(-90deg);
    transform-origin: center;
  }

  &__scroll-up-text {
    font-size: rem(15);
    font-weight: 700;
    line-height: math.div(18, 15);
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__social-list {
    display: flex;
    gap: 28px;
  }

  &__social-list-item {
    transition: transform $transition;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__social-link {
    font-size: rem(30);
  }

  &__copyright {
    color: $white;
    font-family: $fontFamilyNunito;
    font-size: rem(18);
    line-height: math.div(24, 18);
    text-align: center;
  }

  &__copyright-name {
    font-weight: 700;
  }

  &__copyright-text {
    font-weight: 400;
  }
}
