footer.footer
  div.footer__container
    div.footer__content
      a.footer__scroll-up(href="#header-section")
        span.footer__scroll-up-icon(class="material-icons") double_arrow
        span.footer__scroll-up-text BACK TO TOP
      ul.footer__social-list
        li.footer__social-list-item
          a.footer__social-link(class="icon-facebook" href="#")
        li.footer__social-list-item
          a.footer__social-link(class="icon-linkedin" href="#") 
        li.footer__social-list-item
          a.footer__social-link(class="icon-instagram" href="#") 
        li.footer__social-list-item
          a.footer__social-link(class="icon-mail" href="#")
      div.footer__copyright
        span.footer__copyright-name @2022 &nbsp;Vladislav Iskakov&nbsp;&nbsp;
        span.footer__copyright-text All Rights Reserved.

