doctype html 
html(lang="ru")
    include pug/head.pug
    body
        div.wrapper 
            include modules/sections/header/header.pug 
            main.page 
                include modules/sections/sub-header/sub-header.pug
                include modules/sections/about/about.pug
                include modules/sections/skills/skills.pug
                include modules/sections/portfolio/portfolio.pug
                include modules/sections/contact/contact.pug
            include modules/sections/footer/footer.pug
        include pug/js.pug