@use 'sass:math';

/* ================= Connect Mixins ================= */

@import 'base/mixins';

/* ================= Fonts ================= */

//&display=swap - add to the font url if google fonts are connected via VSCode plugin

// Connect fontawesome
@import "fonts/fonts";
@import "fonts/fontawesome/fontawesome";
@import "fonts/fontawesome/solid";
@import "fonts/fontawesome/brands";

/* ================= Icon Font ================= */

// Connect icon font if any
@import "fonts/icons";

/* ================= Default Font ================= */

$fontFamily: 'Montserrat', sans-serif;
$fontFamilyRaleway: 'Raleway', sans-serif;
$fontFamilyAdventPro: 'Advent Pro', sans-serif;
$fontFamilyNunito: 'Nunito', sans-serif;
$fontFamilyOpenSans: 'Open Sans', sans-serif;
$fontFamilyRaleway: 'Raleway', sans-serif;
$fontSize: rem(16); // 16 - default font size

// Colors
$mainColor: rgb(0, 0, 0); // default color
$black: rgb(0, 0, 0);
$black-1: rgba(5, 5, 5, 1);
$white: rgb(255, 255, 255);
$white-1: rgba(255, 251, 251, 1);
$white-2: rgb(224, 224, 224);
$gray: rgba(139, 139, 139, 1);
$gray-1: rgba(144, 144, 144, 1);
$gray-2: rgba(124, 124, 124, 1);
$gray-3: rgba(170, 170, 170, 1);

// Transition duration
$transition: 0.2s ease-in;

/* ================= General Settings ================= */

// Min page width
$minWidth: 320;
// Max page width
$maxWidth: 1920;
// Width of the content container. If set to 0, container will have no max width.
$maxWidthContainer: 1360;
// Side padding of the container
// 30 / 2 = 15px on both sides
$containerPadding: 50;

$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth); // PC, Landscape Tablet
$mac: em(1300);
$tablet: em(991.98); // Tablet, landscape phones
$mobile: em(767.98); // Phone L
$mobileSmall: em(479.98); // Phone S

// Responsiveness type:
// Responsive all the time
// Responsive according to the breakpoints i.e. the container changes its width at breakpoints
$responsiveType: 1;

/* ================= General styles and reset ================= */
@import 'base/null';

body {
  // Scroll is locked
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Page has been loaded
  .loaded & {
    visibility: visible;
  }
}

/* ================= Page Wrapper ================= */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

.page {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #ffffff;
}

/*
This will be applied to all elements with class *__container. E.g. header__container. 
*/
@if ($responsiveType==1) {
  // Responsive
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // According to breakpoints
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Connect base styles, templates and auxiliary classes

@import 'base';
@import 'animations';

// Connect common styles
@import '../modules/common/logo/logo';
@import '../modules/common/separator/separator';
@import '../modules/common/section-title/section-title';
@import '../modules/common/portfolio-item/portfolio-item';

// Connect section styles
@import '../modules/sections/header/header';
@import '../modules/sections/sub-header/sub-header';
@import '../modules/sections/about/about';
@import '../modules/sections/skills/skills';
@import '../modules/sections/portfolio/portfolio';
@import '../modules/sections/contact/contact';
@import '../modules/sections/footer/footer';

