$bg-base: rgba(26, 26, 26, 1);

.portfolio {
  margin: 0 0 140px 0;

  &__header {
    background: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    padding: 70px 0;
  }

  &__content {
    background: $bg-base;
  }

  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  &__filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5px;
  }

  &__filter-btn {
    cursor: pointer;

    width: 150px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $gray-2;
    font-size: rem(14);
    font-weight: 600;
    line-height: math.div(17, 14);
    text-transform: uppercase;

    border-bottom: 1px solid $gray-3;
    transition: color $transition;

    &--active {
      color: $white-1;
      border-bottom: 1px solid $white;
      transition: all $transition;
    }

    &:not(.portfolio__filter-btn--active):hover {
      color: $white-2;
    }
  }

  &__items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    transition: height 0.25s ease-out;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  &__footer-text {
    color: $white;
    font-family: $fontFamilyNunito;
    font-size: rem(20);
    font-weight: 600;
    font-style: italic;
    line-height: math.div(24, 20);
  }
}
